
  div {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
      font-size: large;
      text-align: left;
      font-weight: normal;
      font-family: "times new roman";
      font-weight: normal;
      
  }
    
  body {
    background-color: rgba(28, 36, 110, 0.196);
  }
  
  .center{
    margin: left;
    text-align: center;
  }