
  div {
  float:left
    margin-top: 200px;
      font-size: large;
      text-align: left;
      font-weight: normal;
      font-family: sans-serif;
      font-weight: normal;
      
  }
    
  body {
    background-color: rgb(11, 63, 33);
  }
  
  .center{
    margin: auto;
    text-align: center;
  }